*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
    background-color: gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moldura {
    width: 600px;
    height: 600px;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.bolinha {
    background-color: hotpink;
    width: 200px;
    height: 200px;
    border-radius: 100%;


animation: pular;
animation-duration: 1s ;

animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: cubic-bezier(0,1,0);




}
@keyframes pular{
0%{
    width: 150px;
    height: 250px;
}
20%{
    width: 150px;
    height: 250px;
}
to {
    transform:translateY(-300px);
    border-radius: 0;

}
    

}















